body
{
	background: #283747;
	color: #F39C12;
	font-family: sans-serif;
}
.card
{
	width: 500px;
	background-color: #020c2c;
	text-align: center;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	border: solid 10px;
}
h1 {
	margin-bottom: 0;
	font-weight: 900;
}
h2 {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 50px;
	letter-spacing: 4px;
}
.datos1
{
	margin-bottom: 35px;
}
.pagina-web-negrita
{
	font-weight: 700;
}