body {
    font-family: 'calibri';
    box-sizing: border-box;
    margin: 0;
    background-color: #283747;
}

.flexbox {
    /*direction: ltr; /*direcion*/
    display: flex;
    flex-flow: row wrap; /*2 propiedades en una */
    border: 2px solid #fff;
    margin: 50px;
    justify-content: space-evenly;
    height: 320px;
    align-items: center;
    align-content: center;
}

.flex-item {
    background-color: #2790b0;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
    height: 50px;
}

.color--1 {
    background-color: #f2b8a0;
    /* font-size: 60px;
    height: 80px; */
}

.color--2 {
    background-color: #538a95;    
}

.color--3 {
    background-color: #67b79e;
}

.color--4 {
    background-color: #ffb727;
}

.color--5 {
    background-color: #e4491c;
}

.color--6 {
    background-color: #92b35a;
}   

.color--7 {
    background-color: #855f30;
}

.color--12 {
    box-sizing: border-box;
    background-color: #7fff00;
    /* font-size: 80px; */
}