body {
    font-family: 'calibri';
    margin: 0;
    box-sizing: border-box;
}
.nav {
    background-color: #48e;
}
.nav__list {
    margin: 0;
    text-align: center;
}
.nav__item {
    display: inline-block;
}
.nav__link:hover {
    background-color: #59e;
}
.nav__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #48e;
}
.link--button {
    border: #48e;
    background-color: #fff;
    padding: 4px 18px;
    color: #48e;
    border-radius: 3px;
    margin-left: 60px;
}
.link--button:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}