body {
    font-family: 'calibri';
    box-sizing: border-box;
    margin: 0;
    background-color: #ccc;
}
.flexbox {
    display: flex;
    flex-flow: row wrap; 
    border: 2px solid #000;
    margin: 50px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}
.flex-item {
    background-color: #2790b0;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
    order: 3;
}
.color--1 {
    background-color: #f2b8a0;
    order: 1;
}
.color--2 {
    background-color: #538a95;    
}
.color--3 {
    background-color: #67b79e;
    order: 2;
}
.color--4 {
    background-color: #ffb727;
}
.color--5 {
    background-color: #e4491c;
}
.color--6 {
    background-color: #92b35a;
}   
.color--7 {
    background-color: #855f30;
}
.color--12 {
    box-sizing: border-box;
    background-color: #7fff00;
    /* font-size: 80px; */
}